@{
    ViewData["Title"] = "Ayuda";
}

<div class="jumbotron jumbotron-fluid mt-5">
    <div class="container">
        <h1 class="display-4">@ViewData["Title"]</h1>
        <p class="lead">Ayuda, acerca de, privacidad y confidencialidad</p>
    </div>
</div>

<div class="container-fluid">
</div>
